@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html{
    font-family: 'Inter', sans-serif;
}

.container.main{
    height: auto;
    margin-top: 75px;
    position: relative;
}

.container.main .vetor-direito{
    position: absolute;
    right: 30px;
    top: -150px;
}

/* ESTILIZAÇÃO DOS RESULTADOS */

.container.main .your-result{
    height: 533px;
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
}

.container.main .your-result .image-result{
    width: 564px;  
}

.container.main .your-result .your-result-info{
    width: 465px;
    margin-left: 131px;
    margin-top: 150px;
}

.container.main .your-result .your-result-info .title{
    font-size: var(--font-heading-l);
    font-weight: var(--font-semi-bold);
    color: var(--color-gun-metal);
    margin-bottom: 35px;
}
.container.main .your-result .your-result-info .text{
    font-size: var(--font-body-m);
    font-weight: var(--font-regular);
    color: var(--color-dark-eletric-blue);
    line-height: 150%;
}

/* ESTILIZAÇÃO DO TIPS */

.container.main .tips{
    margin-bottom: 120px;
    display: flex;
    max-width: 1395px;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 10px;
    align-items: center;
    border-radius: 35px;
    flex-wrap: wrap;
    margin-bottom: 72px;
    background: rgb(214,252,254);
background: linear-gradient(176deg, rgba(214,252,254,0) 0%, rgba(214,230,254,1) 200%);
}

.container.main .tips .content{
    width: 365px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.container.main .tips .content img{
    width: 64px;
    height: 64px;
    margin-bottom: 45px;
}

.container.main .tips .content .title{
    margin-bottom: 24px;
    font-size: var(--font-heading-m);
    font-weight: var(--font-semi-bold);
    color: var(--color-gun-metal);
}

/* ESTILIZAÇÃO DOS BMIS */

.container.main .bmi-limitations{
    width: 1160px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 20px;
    justify-content: center;
}

.container.main .bmi-limitations .limitations-text{
    width: 450px;
    height: 184px;
}

.container.main .bmi-limitations .limitations-text .title{
    font-size: var(--font-heading-l);
    font-weight: var(--font-semi-bold);
    color: var(--color-gun-metal);
    margin-bottom: 35px;
}

.container.main .bmi-limitations .limitations-text .text{
    font-size: var(--font-body-m);
    font-weight: var(--font-regular);
    color: var(--color-dark-eletric-blue);
}

.container.main .bmi-limitations .card{
    background-color: var(--color-pure-white);
    -webkit-box-shadow: 16px 32px 56px 0px rgba(143,174,207,0.25);
    -moz-box-shadow: 16px 32px 56px 0px rgba(143,174,207,0.25);
    box-shadow: 16px 32px 56px 0px rgba(143,174,207,0.25);
    border-radius: 16px;
}

.container.main .bmi-limitations .card{
    display: flex;
    flex-direction: column;
    padding: 32px;
}
.container.main .bmi-limitations .card .card-log{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.container.main .bmi-limitations .card .card-log .title{
    font-size: var(--font-heading-s);
    font-weight: var(--font-semi-bold);
    color: var(--color-gun-metal);
}

.container.main .bmi-limitations .card .text{
    font-size: var(--font-body-m);
    font-weight: var(--font-regular);
    color: var(--color-dark-eletric-blue);
}

.container.main .bmi-limitations .card1{
    width: 365px;
    height: 232px;
}

.container.main .bmi-limitations .card2{
    width: 365px;
    height: 184px;
    margin-left: 250px;
}

.container.main .bmi-limitations .card3{
    width: 365px;
    height: 184px;
}

.container.main .bmi-limitations .card4{
    width: 365px;
    height: 232px;
    margin-left: 100px;
}

.container.main .bmi-limitations .card5{
    width: 365px;
    height: 232px;

}

.container-footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container-footer h2{
    font-size: var(--font-heading-m);
    font-weight: var(--font-regular);
    color: var(--color-gun-metal);
    text-align: center;
}

.container-footer .social{
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.container-footer .social a i{
   font-size: 32px;
   padding-left: 20px;
   color: var(--color-dark-eletric-blue);
}

.container-footer .social a i:hover{
    color: var(--color-gun-metal);
}